/*------------------------------------*\
    #FIGURE
\*------------------------------------*/




figure {
	margin: 0;
}

figcaption {
	margin-top: 7px;
}

figcaption h1 {
	font-size: 13px;
	font-weight: 700;
	line-height: 14px;
	margin: 0;
}

figcaption p {
	font-size: 80%;
}

@include media-query(medium) {
    figcaption h1 {
        font-size: 16px;
        line-height: 21px;
    }
}
