/*------------------------------------*\
    #FIGURE
\*------------------------------------*/




figure {
	margin: 0;
}

figcaption {
	margin-top: 7px;
}

figcaption h1 {
	font-size: 100%;
	font-weight: 700;
	line-height: 21px;
	margin: 0;
}

figcaption p {
	font-size: 80%;
}
